extends layout

block content
  .container-fluid.page-header.project-page-header#project-chinese-header
    .row
      .col-md-12.text-center
        img.project-logo(src="/images/logo-chinese.svg")
        h1.page-title Fluid Chinese Character Motion Design
        .divider
        p.page-subtitle  Designing and prototyping liquid typography in theater
  .container.project-meta#project-chinese-meta
    .row
      .col-md-4.text-center
        svg.lnr.lnr-clock
          use(xlink:href="#lnr-clock")
        p 2 Weeks
      .col-md-4.text-center
        svg.lnr.lnr-users
          use(xlink:href="#lnr-users")
        p Individual
      .col-md-3.text-center
        svg.lnr.lnr-magic-wand
          use(xlink:href="#lnr-magic-wand")
        p Multimedia Designer

  #project-chinese-content
    hr
    .container-fluid
        .container.project-section.overview
            .row.section-title
                .col-md-12.text-center
                    h3 Overview
            .row.section-content
                .col-md-8.col-md-offset-2
                    p Drama Box is a Singapore-based theater company. Kopitiam is one of their theater productions that took place in Esplanade, Singapore. As the multimedia designer of the production, my task was to create a multimedia motion display that revolved around the theme of the play.


    hr
    .container-fluid
        .container.project-section.solution
            .row.section-title
                    .col-md-12.text-center
                        h3 Solution
                .row.section-content
                    .col-md-8.col-md-offset-2
                        p I created a video clip that featured raining Chinese characters.
                        img(src="/images/chinese-solution-2.gif")
                        img(src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/bf7caa42161253.57c34162c0c71.png")
                        img(src="/images/chinese-solution-1.gif")

                        
                    
    hr
    .container-fluid
      .container.project-section.process
        .row.section-title
                .col-md-12.text-center
                    h3 Process
            .row.section-content
                .col-md-8.col-md-offset-2
                    .row
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Requirement Gathering
                                p The play addresses the conflict between traditional and modern culture. After discussing with the director of the play, Han Xuemei, we decided to go towards the direction of having Chinese characters raining from the sky and eventually dissolving on the ground. 
                                p The motion of falling and dissolving symbolizes the loss of Chinese culture in Singapore.


                        .col-md-6
                            img(src="/images/chinese-process-1.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Low-fidelity Design
                                p I started with sketching the low fidelity design. I drew the 
                                    b key frames 
                                    | that illustrate the falling and dissolving of the Chinese characters.
                        .col-md-6
                            img(src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a4455b42161253.57c34162c118e.png")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Quick Prototype with WebGL
                                p I used 
                                    b WebGL 
                                    | to simulate falling of Chinese characters. I started with a
                                    b rigid-body physics simulation
                                    | .
                        .col-md-6
                            img(src="/images/chinese-process-3.svg")
                    .row
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 High Fidelity Prototpye in After Effects
                                p I created a high-fidelity prototype by applying a threshold filter and a blur filter to the falling sequence in 
                                    b After Effects.

                        .col-md-6
                            img(src="/images/chinese-process-4.svg")
                    .row
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Feedback and Improvements
                                p Based on director’s feedback, I added collapsing effect when the characters were falling.
                        .col-md-6
                            img(src="/images/chinese-process-5.svg")
                    
                        

                    
    //- hr
    //- .container-fluid
    //-     .container.project-section.conclusion
    //-         .row.section-title
    //-                 .col-md-12.text-center
    //-                     h3 Conclusion
    //-             .row.section-content
    //-                 .col-md-8.col-md-offset-2
    //-                     p Redesigning PandaFan’s dashboard allows me to practices the design principles and thinking process I learnt in my Interaction Design class. The design pipeline I practiced made my design more user centric – every design decision is derived from user requirement. It is a good learning experience for me as I had the chance to practice what I learnt at school beyond textbook and school projects.


    .container-fluid
        .container.project-section
            .row
                .col-md-12.text-center
                    a.check-other#chinese-check-other(href="/") CHECK OTHER PROJECTS
