extends layout

block content
  .container-fluid.page-header
    .row
      .col-md-12.text-center
        h1.page-title Hit me up!
        .divider
        p.page-subtitle There are many ways to reach me besides 
          a(href="mailto:yiwenz@andrew.cmu.edu") yiwenz@andrew.cmu.edu

  .container
    .row.contact-content
      .col-xs-6.col-md-2.col-md-offset-2.text-center#linkedin-contact(onclick="window.open('https://www.linkedin.com/in/yiwen-zhang');")
        span.icon-linkedin
        p LinkedIn
      .col-xs-6.col-md-2.text-center#facebook-contact(onclick="window.open('https://www.facebook.com/tiotao');")
        span.icon-facebook
        p Facebook
      .col-xs-6.col-md-2.text-center#twitter-contact(onclick="window.open('https://twitter.com/tiotao');")
        span.icon-twitter
        p Twitter
      .col-xs-6.col-md-2.text-center#dribbble-contact(onclick="window.open('https://dribbble.com/tiotao');")
        span.icon-dribbble
        p Dribbble
    .row.contact-content
      .col-md-8.col-md-offset-2.text-center#other-contact
        p You can also check my 
          a(href="https://github.com/tiotao") GitHub
          |  repository, 
          a(href="https://medium.com/@Tiotao") Medium
          |  blog, and  
          a(href="https://www.behance.net/tiotao") Behance
          |  portfolio


        
    