doctype html
html
  head
    title Yiwen Zhang
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet")
    script(src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/javascripts/slider.js")
  body(data-path="#{path}")
    nav.navbar.navbar-default.landing-nav
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#landing-nav")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse#landing-nav
          ul.nav.navbar-nav.navbar-right
           
            li
              a#projects-nav(href="/") Projects
                
            li 
              a(href="/skills") Skills
            li 
              a(href="/about") About Me
            li 
              a(href="/contact")) Contact

    block content
