doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet")
    script(src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/javascripts/slider.js")
  body
    nav.navbar.navbar-inverse.landing-nav
      .container-fluid
        .navbar-header

    block content
