extends layout

block content
  .container-fluid.page-header.project-page-header#project-pandafan-header
    .row
      .col-md-12.text-center
        img.project-logo(src="/images/logo-pandafan.svg")
        h1.page-title PandaFan Dashboard Re-design
        .divider
        p.page-subtitle Re-designing PandaFan’s dashboard to incorporate new features and improve usability
  .container.project-meta#project-pandafan-meta
    .row
      .col-md-4.text-center
        svg.lnr.lnr-clock
          use(xlink:href="#lnr-clock")
        p 4 Weeks
      .col-md-4.text-center
        svg.lnr.lnr-users
          use(xlink:href="#lnr-users")
        p Individual
      .col-md-3.text-center
        svg.lnr.lnr-magic-wand
          use(xlink:href="#lnr-magic-wand")
        p UX Designer
        p Front End Developer
  #project-pandafan-content
    hr
    .container-fluid
        .container.project-section.overview
            .row.section-title
                .col-md-12.text-center
                    h3 Overview
            .row.section-content
                .col-md-8.col-md-offset-2
                    p PandaFan is a VPN service provider that helps users in Mainland China bypass the Great Fire Wall and access Internet without censorship. As the UX Designer, I am contracted to re-design their user interface, to incorporate new features and improve usability.

    hr
    .container-fluid
        .container.project-section.solution
            .row.section-title
                    .col-md-12.text-center
                        h3 Solution
                .row.section-content
                    .col-md-8.col-md-offset-2
                        p I re-designed the dashboard interface and developed the web template using Foundation. The web template is mobile responsive.
                        p Following changes has been made compare to the old version.

                .row.section-content
                    .col-md-4.col-md-offset-2
                        //- figure.cd-image-container
                        //-     img(src="/images/pandafan-solution-1b.svg")
                        //-     span.cd-image-label(data-type="original") Redesigned
                        //-     .cd-resize-img
                        //-         img(src="/images/pandafan-solution-1a.svg")
                        //-         span.cd-image-label(data-type="modified") Original
                        //-     span.cd-handle
                        img(src="/images/pandafan-solution-1.svg")
                        p Re-order top feature
                    .col-md-4
                        img(src="/images/pandafan-solution-2.svg")
                        p Add visual indications for service status
                    .col-md-4.col-md-offset-2
                        img(src="/images/pandafan-solution-3.svg")
                        p Adding Quick Setting options for advanced user
                    .col-md-4
                        img(src="/images/pandafan-solution-4.svg")
                        p Adding help session and onboarding experience for first-time user
                    //- .col-md-4.col-md-offset-2
                    //-     img(src="/images/paperplane-solution-3.svg")
                    //-     p Adding Feature Hierarchy  
                    
    hr
    .container-fluid
      .container.project-section.process
        .row.section-title
                .col-md-12.text-center
                    h3 Process
            .row.section-content
                .col-md-8.col-md-offset-2
                    .row
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Research Current Product
                                p The focus of the project is to improve usability. Therefore, I started the process with 
                                    b usability testing
                                    |  of the old version. I discoverd that:
                                ul
                                    li Users do not know where to seek help
                                    li Users often get confused by pop-overs
                                    li Experienced users often get frustrated when they need to complete a simple task with multiple steps

                        .col-md-6
                            img(src="/images/pandafan-process-1.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Contextual Inquiry & User Stories
                                p Based on the usability test, I proposed various 
                                    b user stories 
                                    | and also conducted 
                                    b Contextual Inquiry 
                                    | .
                        .col-md-6
                            img(src="/images/pandafan-process-2.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Wireframing
                                p A wireframe model was then made for another round of 
                                    b user testing. 
                                    | Users are asked to go through a set of tasks and 
                                    b Thinking Aloud 
                                    | when doing them. 
                        .col-md-6
                            img(src="/images/pandafan-process-3.svg")
                    
                    .row
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 High Fidelity Design
                                p A high fidelity design was created using 
                                    b Illustrator 
                                    | based on the discoveries and feedbacks gathered from the 
                                    b user testing
                                    | .
                        .col-md-6
                            img(src="/images/pandafan-process-4.svg")
                        
                    .row
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Final Deliverable
                                p Finally, I turned the design into code and handed it over to back-end engineer for integration
                        .col-md-6
                            img(src="/images/pandafan-process-5.svg")
                        
                    
                        

                    
    hr
    .container-fluid
        .container.project-section.comparision
            .row.section-title
                    .col-md-12.text-center
                        h3 Comparision of the interface
                .row.section-content
                    .col-md-8.col-md-offset-2.text-center
                        
                        figure.cd-image-container
                            img(src="/images/pandafan-compare-1a.svg")
                            span.cd-image-label(data-type="original") Original
                            .cd-resize-img
                                img(src="/images/pandafan-compare-1b.svg")
                                span.cd-image-label(data-type="modified") 
                            span.cd-handle
                        h4 Dashboard
                    .col-md-8.col-md-offset-2.text-center
                        
                        figure.cd-image-container
                            img(src="/images/pandafan-compare-2a.svg")
                            span.cd-image-label(data-type="original") Original
                            .cd-resize-img
                                img(src="/images/pandafan-compare-2b.svg")
                                span.cd-image-label(data-type="modified") 
                            span.cd-handle
                        h4 Settings
                    .col-md-8.col-md-offset-2.text-center
                        
                        figure.cd-image-container
                            img(src="/images/pandafan-compare-3a.svg")
                            span.cd-image-label(data-type="original") Original
                            .cd-resize-img
                                img(src="/images/pandafan-compare-3b.svg")
                                span.cd-image-label(data-type="modified") 
                            span.cd-handle
                        h4 Plan Details

    hr
    .container-fluid
        .container.project-section.conclusion
            .row.section-title
                    .col-md-12.text-center
                        h3 Conclusion
                .row.section-content
                    .col-md-8.col-md-offset-2
                        p This project allowed me to practice the design principles I learned in my Interaction Design class. The design pipeline I practiced made my design more 
                            b user-centric
                            |  – every design decision is derived from user requirement. It is a good learning experience for me as I had the chance to practice what I learned beyond school projects.


    .container-fluid
        .container.project-section
            .row
                .col-md-12.text-center
                    a.check-other#pandafan-check-other(href="/") CHECK OTHER PROJECTS
