extends layout

block content
  .container-fluid.page-header.project-page-header#project-paperplane-header
    .row
      .col-md-12.text-center
        img.project-logo(src="/images/logo-paperplane.svg")
        h1.page-title Paper Plane
        .divider
        p.page-subtitle Creating visual elements to guide player through a fascinating journey
  .container.project-meta#project-paperplane-meta
    .row
      .col-md-4.text-center
        svg.lnr.lnr-clock
          use(xlink:href="#lnr-clock")
        p 2 Weeks
      .col-md-4.text-center
        svg.lnr.lnr-users
          use(xlink:href="#lnr-users")
        p Team of 5
      .col-md-3.text-center
        svg.lnr.lnr-magic-wand
          use(xlink:href="#lnr-magic-wand")
        p Experience Designer
        p Lead Developer
  #project-paperplane-content
    hr
    .container-fluid
        .container.project-section.overview
            .row.section-title
                .col-md-12.text-center
                    h3 Overview
            .row.section-content
                
                
                .col-md-8.col-md-offset-2
                    
                    .video-wrapper
                        iframe(src="https://www.youtube.com/embed/Cj8fhTVTdVc" frameborder="0" allowfullscreen)
                    p Paper Plane is a VR experience I created with a team of five people during Building Virtual Worlds at Entertainment Technology Center, Carnegie Mellon University. It is a free flying experience in Virtual Reality. 
                    p As the game designer, my job is to design the game level and user interaction. As the developer, my job is to program game logics and integrate the game with Oculus Rift and Leap Motion.
    hr
    .container-fluid
        .container.project-section.problem
            .row.section-title
                    .col-md-12.text-center
                        h3 Problem
                .row.section-content
                    .col-md-8.col-md-offset-2
                        img(src="/images/paperplane-problem.svg")
                        p Paper Plane is a free-flying VR experience, which means the player will have full freedom to fly around. When players have that kind of liberty, we, as the game designers and developers have very little control over what they are going to see and interact with. That not only increases the workload in development but also causes inconsistent gaming experience across players. Hence in Paper Plane, the challenge is to mind-trick the player to fly along a designed route without them noticing any form of control.
    hr
    .container-fluid
        .container.project-section.solution
            .row.section-title
                    .col-md-12.text-center
                        h3 Solution
                .row.section-content
                    .col-md-8.col-md-offset-2
                        p I made following design decisions.
                .row.section-content
                    .col-md-4.col-md-offset-2
                        img(src="/images/paperplane-solution-1.svg")
                        p I designed the ideal flying path and placed waypoint beacons along it.
                    .col-md-4
                        img(src="/images/paperplane-solution-2.svg")
                        p I placed various visual elements such as rainy clouds and rainbows that suggest different messages. 
                    .col-md-4.col-md-offset-2
                        img(src="/images/paperplane-solution-3.svg")
                        p I included Non-Player Planes in the experience
                    
    hr
    .container-fluid
      .container.project-section.process
        .row.section-title
                .col-md-12.text-center
                    h3 Process
            .row.section-content
                .col-md-8.col-md-offset-2
                    p The key concept behind my design is 
                        b Indirect Control
                        | . Humans are sensitive to visual cues, especially color and motion.
                .col-md-8.col-md-offset-2
                    .row
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Establishing Color Connections
                                p We tend to group similar colors and their associated messages together. When the paper plane and the beacons are the same color, most of the players think that they belong to the same category. Therefore, they will naturally fly towards the beacons.
                        .col-md-6
                            img(src="/images/paperplane-process-1.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Conducting Playtest
                                p I performed 
                                    b A/B testing 
                                    | to see if non-player planes flying along the ideal path will attract players' attention and eventually lead them to the ideal path.
                                p Group A has no non-player planes. 
                                p Group B has non-player planes. 
                                p The result is not surprising. Players in group B are more likely to travel along the ideal path. I conducted interviews after play testing. [add more]
                        .col-md-6
                            img(src="/images/paperplane-process-4.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Making use of familiarity
                                p I used real life object rainy clouds and rainbows which are very recognisable to the players in the path design. 
                                p Because of the 
                                    b familiarity, 
                                    | the player can easily infer the message behind these things from life experiences - avoiding rainy clouds and flying towards rainbows.
                        .col-md-6
                            img(src="/images/paperplane-process-2.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Creating Motion
                                p Motion distracts our eyes. Having signal effects on top of the beacon creates a point of interest.
                        .col-md-6
                            img(src="/images/paperplane-process-3.gif")
                        
                    
                    
                        

                    
    hr
    .container-fluid
        .container.project-section.conclusion
            .row.section-title
                    .col-md-12.text-center
                        h3 Conclusion
                .row.section-content
                    .col-md-8.col-md-offset-2
                        p Experience Design in games and other platforms shares common principles. Knowing the end user, doing frequent user testing, and understanding basic human psychology are fundamental. My past experience in UI/UX Design contributed a lot in the creation process of Paper Plane. However, there are also failed cases due to the difference in mediums (web application vs. virtual reality). 
                            b Playtesting 
                            | helped me to identify failures and suggest possible improvements.

    .container-fluid
        .container.project-section
            .row
                .col-md-12.text-center
                    a.check-other#paperplane-check-other(href="/") CHECK OTHER PROJECTS


