extends layout

block content
  .container-fluid.page-header.project-page-header#project-pigeonlab-header
    .row
      .col-md-12.text-center
        img.project-logo(src="/images/logo-pigeonlab.svg")
        h1.page-title PigeonLab Custom Branding Generator
        .divider
        p.page-subtitle Designing and developing a branding generation tool with high usability.
  .container.project-meta#project-pigeonlab-meta
    .row
      .col-md-4.text-center
        svg.lnr.lnr-clock
          use(xlink:href="#lnr-clock")
        p 1 Year
      .col-md-4.text-center
        svg.lnr.lnr-users
          use(xlink:href="#lnr-users")
        p Individual
      .col-md-3.text-center
        svg.lnr.lnr-magic-wand
          use(xlink:href="#lnr-magic-wand")
        p UX Designer
        p Full Stack Developer
  #project-pigeonlab-content
    hr
    .container-fluid
        .container.project-section.overview
            .row.section-title
                .col-md-12.text-center
                    h3 Overview
            .row.section-content
                .col-md-8.col-md-offset-2
                    p PigeonLab is a start-up company located in Singapore. Their key product is a web application that provides interactive Q&A experience for various events including World Economic Forum. 

                    p When the application is used in external events, their client often requests to feature the customized branding on the application. (e.g.,. adding logos, featuring company colors). Customization is usually achieved using additional CSS files.

                    p
                        b Creating customized CSS files for each client is time-consuming and tedious. 

                    p As the web development intern, I built an automation tool for branding CSS generation - Custom Branding Generator. I also refine the UI/UX of the tool so that both the development team and the business team can use the tool without much instruction.
    hr
    .container-fluid
        .container.project-section.solution
            .row.section-title
                    .col-md-12.text-center
                        h3 Solution
                .row.section-content
                    .col-md-8.col-md-offset-2
                        p I designed and developed the Custom Branding Generator which supports following features:
                .row.section-content
                    .col-md-4.col-md-offset-2
                        img(src="/images/pigeonlab-solution-4.svg")
                        p One-Click CSS files Generation
                    .col-md-4
                        img(src="/images/pigeonlab-solution-1.svg")
                        p Live Preview when editing
                    .col-md-4.col-md-offset-2
                        img(src="/images/pigeonlab-solution-2.svg")
                        p AWS integration: CSS files get pushed to AWS when customization is done.

                    .col-md-4
                        img(src="/images/pigeonlab-solution-3.svg")
                        p Short cuts and Tempalates for quick customization.

                    

                    
    hr
    .container-fluid
      .container.project-section.process
        .row.section-title
                .col-md-12.text-center
                    h3 Process
            .row.section-content
                .col-md-8.col-md-offset-2
                    p I took the initiative to propose the project. 

                    p Dring the first week of my internship, I discovered that the co-founder of the company often spent a lot of time creating and updating CSS files for the clients. Most of the time he was doing repeating work, such as changing color values, modifying header height, etc. I believed this process could be automated. I told him about my thoughts and started the project – creating an automation tool that generates customized CSS file based on user inputs.
                .col-md-8.col-md-offset-2
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Define Target User
                                p I started the project with identifying my user group. My target user was my colleague in the business team who had little knowledge about web programming.

                        .col-md-6
                            img(src="/images/pigeonlab-process-1.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Statistic Research
                                p I read through various CSS files that are used for branding, wrote a 
                                    b Python 
                                    | script to compare their differences and figured out most common modified CSS styles.
                        .col-md-6
                            img(src="/images/pigeonlab-process-3.svg")
                    
                    .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Observation
                                p I also combined the statistics research with observations. I observed a few rounds of manual branding creation and recorded the common workflow.

                        .col-md-6
                            img(src="/images/pigeonlab-process-2.svg")
                     .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Quick Prototyping
                                p A quick prototype was made after requirement gathering.

                        .col-md-6
                            img(src="/images/pigeonlab-process-4.svg")
                     .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Usability Testing
                                p The project moves on to the next stage: improving the usability of the tool. I started with conducting 
                                    b usability testings
                                    | . I distributed the generator to my colleague of the company. They used the generator to create brandings based on clients' requirements. I compared the requirements with the brandings they generated, and also took their feedbacks into account.


                        .col-md-6
                            img(src="/images/pigeonlab-process-5.svg")
                     .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Iterations and Refinements
                                p After several rounds of 
                                    b usability testings
                                    | , a few more user stories were proposed which led to new features and changes in UI.

                        .col-md-6
                            img(src="/images/pigeonlab-process-6.svg")
                     .row
                        
                        .col-md-6.process-content-wrapper
                            .process-content-container
                                h4 Evaluation
                                p I evaluated my project by comparing the time taking for generating one branding with and without my tool.

                                p Generating one custom branding used to take a front-end engineer one hour. With the tool I made, anyone can create a branding in 5 minutes

                        .col-md-6
                            img(src="/images/pigeonlab-process-7.svg")
                        
                    
                    
                        

                    
    hr
    .container-fluid
        .container.project-section.conclusion
            .row.section-title
                    .col-md-12.text-center
                        h3 Conclusion
                .row.section-content
                    .col-md-8.col-md-offset-2
                        p Observation is the key to successful design. In designing and developing the custom branding generator, I observed my stakeholder in every stage of development. Regardless it was requirement gathering, prototyping, development or iterations of refinement. In designing such a complicated tool, prototyping was always helpful. It helped me to have a preview of the product and understand the scale of the project. With quick prototyping, I could also get early feedbacks from my target user. At the end of the day, I am really happy that this project improved company’s working efficiency and was widely used among the team.



