extends layout

block content
  .container-fluid.page-header
    .row
      .col-md-12.text-center
        h1.page-title What Can I Do?
        .divider
        p.page-subtitle I am an 
          span.skills-nav#exp-designer-nav
            a Experience Designer
          | , and also a 
          span.skills-nav#developer-nav
            a Developer

  .container
    .row.skills-header
      .col-md-12.text-center
        svg.lnr.lnr-heart
          use(xlink:href="#lnr-heart")
      .col-md-8.col-md-offset-2.text-center
        h3 As an 
          span#exp-designer-title
            i Experience Designer
          | , I create meaningful user experience through intuitive user interface and interactive storytelling.
    .skills-content
      .row
        .col-md-2.col-md-offset-2
          h4 Discipline
        .col-md-6.skills-tag
          ul.list-inline
            li Responsive Design
            li Graphic Design
            li Game Design
            li Virtual Reality
            li Branding and Marketing
            li Filmmaking
            li Sound Editing

      .row
        .col-md-2.col-md-offset-2
          h4 Process
        .col-md-6.skills-tag
          ul.list-inline
            li Contextual Inquiry
            li Playtesting
            li Low-Fidelity Prototyping
            li High-Fidelity Prototyping
            li Requirement Gathering
            li Statistical Analysis
            li User Profile
      .row
        .col-md-2.col-md-offset-2
          h4 Tools
        .col-md-6.skills-tag
          ul.list-inline
              li Adobe Creative Suites
              li Pen & Paper
              li SketchUp
              li Blender
              li Unity
    .row.skills-header
      .col-md-12.text-center
        svg.lnr.lnr-code
          use(xlink:href="#lnr-code")
      .col-md-8.col-md-offset-2.text-center
        h3 As a
          span#developer-title 
            i Developer
          | , I enjoy building creative products through quick prototyping and fast iterations.
    .skills-content
      .row
        .col-md-2.col-md-offset-2
          h4 Discipline
        .col-md-6.skills-tag
          ul.list-inline
            li Mobile Development
            li Web Development
            li Game Development
            li Virtual Reality
            li Computer Vision
            li Computer Graphics

      .row
        .col-md-2.col-md-offset-2
          h4 Language
        .col-md-6.skills-tag
          ul.list-inline
            li HTML/CSS
            li JavaScript
            li Python
            li C#
            li C++
            li Java
            li SQL

      .row
        .col-md-2.col-md-offset-2
          h4 Tools & Frameworks
        .col-md-6.skills-tag
          ul.list-inline
              li Amazon Web Services
              li Android SDK
              li AngularJS
              li Vue.js
              li Node.js
              li Gulp
              li jQuery
              li Flask
              li OpenCV
              li OpenGL
              li WebGL
              li Unity
