body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
a {
  color: #ac88c3;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #ac88c3;
}
body {
  font-size: 16px;
}
canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: -1;
}
.navbar.landing-nav {
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  border: none;
}
.page-title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 2em;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 4em;
    padding: 1.5em 0em 0em;
  }
}
.divider {
  background: #333;
  margin: 2em auto;
  height: 2px;
  width: 2em;
}
#project-paperplane-header .divider {
  background: #ff7bac;
}
#project-pandafan-header .divider {
  background: #7ac943;
}
#project-chinese-header .divider {
  background: #3fa9f5;
}
#project-pigeonlab-header .divider {
  background: #ff931e;
}
.project-page-header img.project-logo {
  display: block;
  width: 3em;
  margin: 0em auto;
  padding-top: 1.5em;
}
@media (min-width: 768px) {
  .project-page-header img.project-logo {
    width: 10em;
  }
}
.project-page-header .page-title {
  padding: 0em 0em 0em;
}
.page-subtitle {
  font-weight: 300;
  font-size: 1em;
  padding: 0em 0em 2em;
}
@media (min-width: 768px) {
  .page-subtitle {
    font-size: 1.5em;
  }
}
.page-header {
  background: none;
  padding: 1em;
  margin: 0px;
  border-bottom: none;
}
@media (min-width: 768px) {
  .page-header {
    padding: 4em;
  }
}
hr {
  border-top: 1px dashed #eee;
}
.landing-project-listing {
  padding: 0em;
}
@media (min-width: 768px) {
  .landing-project-listing {
    padding: 4em;
  }
}
.project:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}
.project {
  background: #fff;
  margin: 1em;
  padding: 1em 1em;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: none;
  border: 1px solid #eee;
}
@media (min-width: 768px) {
  .project {
    padding: 2em 3em;
    min-height: 25em;
    margin: 2em;
  }
}
.project img.project-logo {
  display: block;
  width: 5em;
  margin: 1em auto;
}
@media (min-width: 768px) {
  .project img.project-logo {
    width: 10em;
    margin: 2em auto;
  }
}
.project#board-paperplane {
  border-top: 5px dashed #ff7bac;
}
.project#board-pigeonlab {
  border-top: 5px dashed #ff931e;
}
.project#board-pandafan {
  border-top: 5px dashed #7ac943;
}
.project#board-chinese {
  border-top: 5px dashed #3fa9f5;
}
@media (min-width: 768px) {
  .process-content-wrapper {
    height: 280px;
  }
}
@media (min-width: 768px) {
  .process-content-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.project-section {
  padding-bottom: 4em;
}
.project-section .section-content img {
  width: 100%;
  padding: 1em 0em;
}
.project-section .section-content .cd-resize-img img {
  width: auto;
}
.project-section .section-title h3 {
  font-size: 2em;
  font-weight: 300;
  margin: 1em 0em 1em;
}
#project-paperplane-content .section-title h3 {
  color: #ff7bac;
}
#project-pandafan-content .section-title h3 {
  color: #7ac943;
}
#project-chinese-content .section-title h3 {
  color: #3fa9f5;
}
#project-pigeonlab-content .section-title h3 {
  color: #ff931e;
}
.skills-content {
  margin-top: 2em;
  margin-bottom: 4em;
}
.skills-nav#exp-designer-nav>a {
  color: #ff7bac;
  cursor: pointer;
}
.skills-nav#developer-nav>a {
  color: #3fa9f5;
  cursor: pointer;
}
.about-section {
  margin-bottom: 4em;
}
.about-section p {
  font-size: 1.5em;
  font-weight: 300;
}
.about-section h4 {
  font-weight: 300;
}
.about-section h4 span {
  font-weight: 500;
}
.about-section h2 {
  font-weight: 300;
}
.about-section .lnr {
  font-size: 3em;
  margin-bottom: 1em;
  color: #ac88c3;
}
img.me {
  border-radius: 100%;
}
#linkedin-contact,
#facebook-contact,
#dribbble-contact,
#twitter-contact {
  cursor: pointer;
}
#linkedin-contact:hover span,
#linkedin-contact:hover p {
  color: #0077b5;
}
#facebook-contact:hover span,
#facebook-contact:hover p {
  color: #365899;
}
#dribbble-contact:hover span,
#dribbble-contact:hover p {
  color: #ea4c89;
}
#twitter-contact:hover span,
#twitter-contact:hover p {
  color: #1da1f2;
}
.contact-content span {
  font-size: 3em;
  transition: all 0.5s ease-in-out;
}
.contact-content p {
  font-size: 1em;
  margin-top: 0.5em;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
#other-contact {
  margin-top: 4em;
}
.skills-header p {
  font-size: 1.5em;
  font-weight: 300;
}
.skills-header h3 {
  font-weight: 300;
}
.skills-header h3 span {
  font-weight: 500;
}
.skills-header .lnr {
  font-size: 3em;
  margin-bottom: 0.2em;
}
.skills-header .lnr-heart {
  color: #ff7bac;
}
.skills-header .lnr-code {
  color: #3fa9f5;
}
.skills-header #exp-designer-title {
  color: #ff7bac;
}
.skills-header #developer-title {
  color: #3fa9f5;
}
.project-meta p {
  font-size: 1.2em;
  font-weight: 300;
}
.project-meta .lnr {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.project-meta#project-paperplane-meta .lnr {
  color: #ff7bac;
}
.project-meta#project-pandafan-meta .lnr {
  color: #7ac943;
}
.project-meta#project-chinese-meta .lnr {
  color: #3fa9f5;
}
.project-meta#project-pigeonlab-meta .lnr {
  color: #ff931e;
}
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}
.lnr-chevron-down {
  color: #333;
/* We can use "color" for setting the color
  of the SVG because we set its "fill" to
  "currentColor" */
  font-size: 2em;
/* We can use "font-size" for changing the size
  of the SVG because its width and height were
  set 1em.
  To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}
.landing-nav.navbar-default .navbar-nav li a {
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #fff;
}
.landing-nav.navbar-default .navbar-nav li a.active,
.landing-nav.navbar-default .navbar-nav li a:hover {
  border-bottom: 2px solid #333;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-collapse {
  border: none;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
  }
}
.skills-tag {
  margin-bottom: 1em;
}
.skills-tag li {
  font-size: 1em;
  border: 1px dashed;
  margin: 0.5em 0.2em 0.2em;
  color: #999;
  border-radius: 1em;
  padding: 0.1em 1em;
}
.project-tag li {
  font-size: 0.8em;
  border: 1px solid;
  margin: 0.5em 0.5em 0em;
  color: #999;
  border-radius: 10px;
  padding: 0.1em 1em;
}
.cd-image-container {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0em auto;
}
.cd-image-container img {
  display: block;
}
.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #333;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
/* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}
@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
/* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #7ac943 url("../images/cd-arrows.svg") no-repeat center center;
  cursor: move;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle:hover {
  background-color: #62a930;
}
.cd-handle.draggable {
/* change background color when element is active */
  background-color: #62a930;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?h97fkx");
  src: url("../fonts/icomoon.eot?h97fkx#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?h97fkx") format('truetype'), url("../fonts/icomoon.woff?h97fkx") format('woff'), url("../fonts/icomoon.svg?h97fkx#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\e05d";
}
.icon-twitter:before {
  content: "\e05e";
}
.icon-linkedin:before {
  content: "\e062";
}
.icon-dribbble:before {
  content: "\e063";
}
@-webkit-keyframes flow-40 {
  0% {
    bottom: 20%;
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes flow-60 {
  0% {
    bottom: 20%;
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}
.char-40 {
  height: 40px;
  width: 40px;
  position: absolute;
  -webkit-animation-name: flow-40;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  background-image: url("../images/kanji-01.png");
}
.char-80 {
  height: 80px;
  width: 80px;
  position: absolute;
  -webkit-animation-name: flow-60;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  background-image: url("../images/kanji-02.png");
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-o-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
